/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Very Dark Magenta: hsl(300, 43%, 22%)
Soft Pink: hsl(333, 80%, 67%)

### Neutral

Dark Grayish Magenta: hsl(303, 10%, 53%)
Light Grayish Magenta: hsl(300, 24%, 96%)
White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [League Spartan](https://fonts.google.com/specimen/League+Spartan)
- Weights: 400, 500, 700 */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
    --primary-magenta: hsl(300, 43%, 22%);
    --primary-pink: hsl(333, 80%, 67%);
    --neutral-dark-magenta: hsl(303, 10%, 53%);
    --neutral-light-magenta: hsl(300, 24%, 96%);
    --neutral-white: hsl(0, 0%, 100%);
    --font-size: 15px;
    --margin-rating: 75px;
    --margin-buyes: 50px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    top: 0;
    font-family: 'League Spartan', sans-serif;
    font-size: var(--font-size);
    background-image: url(Social-proof-section_DailyNewbie_6/images/bg-pattern-bottom-desktop.svg), url(Social-proof-section_DailyNewbie_6/images/bg-pattern-top-desktop.svg);
    background-position: right bottom, left top;
    background-repeat: no-repeat, no-repeat;
    height: 100vh;
}

main {
    padding-top: 80px;

}

footer {
    position: absolute;
    bottom: 0;
    right: 45%;
}

a {
    text-decoration: none;
}

/* Classes */

.flex-row,
.flex-col {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;

    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.w-100 {
    width: 100%;
}

.w-70 {
    width: 70%;
}

.gap-20 {
    gap: 20px;
}

.rating {
    background-color: var(--neutral-light-magenta);
    padding: 5px 80px;
    border-radius: 10px;
}

.rating:nth-child(2) {
    margin-right: var(--margin-rating);
    transition: margin-right .3s cubic-bezier(.62, .29, .7, .45);
}

.rating:nth-child(1) {
    margin-right: calc(var(--margin-rating) * 2);
    transition: margin-right .4s cubic-bezier(.62, .29, .7, .45);
}

.article-style {
    background-color: var(--primary-magenta);
    padding: 20px 50px;
    border-radius: 10px;
    min-width: 200px;
    max-width: 100%;
    flex-shrink: 1;
}

.article-style:nth-child(2) {
    margin-top: var(--margin-buyes);
    transition: margin-top .3s cubic-bezier(.62, .29, .7, .45) .5s;
}

.article-style:nth-child(3) {
    margin-top: calc(var(--margin-buyes) * 2);
    transition: margin-top .3s cubic-bezier(.62, .29, .7, .45) .5s;
}

.m-auto {
    margin: auto;
}

.mb-5 {
    margin-bottom: 5px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-0 {
    margin-top: 0px;
}

.p-20 {
    padding: 20px;
}

.image-auto {
    width: 45px;
    border-radius: 50%;
}

.t-white {
    color: var(--neutral-white);
}

.t-pink {
    color: var(--primary-pink);
}

.fw-400 {
    font-weight: 400;
}

.fonts {
    font-size: 1rem;
    font-weight: 400;
    color: var(--neutral-light-magenta);
    line-height: 1.5rem;

}

.shrink {
    flex-shrink: 1;
}

/* ID's */
#content {
    width: 100%;
    height: auto;
}

#content-top {
    /* justify-content: space-between; */
    gap: 100px;
    /* align-content: space-between; */
}

#main-title {
    font-size: 3.5rem;
    width: 400px;
    color: var(--primary-magenta);
    margin-bottom: 10px;
    font-weight: 700;
}

#main-paragraph {
    font-size: 1.4rem;
    width: 550px;
    color: var(--neutral-dark-magenta);
    font-weight: 400;
    line-height: 1.5rem;
}

#ratings {
    font-weight: 700;
    color: var(--primary-magenta);
    padding-top: 50px;
}

/* Frontend mentor styles */
.attribution {
    font-size: 0.8rem;
    text-align: center;
    background-color: #fff;
    padding: 15px;
    border: 1px solid gray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: #fff;
}

.attribution a {
    color: hsl(228, 89%, 44%);
}